.loading_box
  .loading_box_spinner
    %img{ :src => "/images/loader.gif" }
  .loading_box_title
    Building Thunder
  .loading_box_message
    This will take aproximately 10 minutes.
    %br Go for a beer meanwhile and don´t bug me...
  %a{ :href => '/' } Go Back